<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunru.dao.DynamiteMessageMapper" >
  <resultMap id="BaseResultMap" type="com.xunru.model.DynamiteMessage" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="dynamite_message_id" property="dynamiteMessageId" jdbcType="VARCHAR" />
    <result column="publisher_id" property="publisherId" jdbcType="VARCHAR" />
    <result column="publisher_name" property="publisherName" jdbcType="VARCHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="dynamite_content" property="dynamiteContent" jdbcType="VARCHAR" />
    <result column="dynamite_content_img_url" property="dynamiteContentImgUrl" jdbcType="VARCHAR" />
    <result column="content_tag" property="contentTag" jdbcType="VARCHAR" />
    <result column="dynamite_like_count" property="dynamiteLikeCount" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dynamite_message_id, publisher_id, publisher_name, title, dynamite_content, dynamite_content_img_url, 
    content_tag, dynamite_like_count, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from dynamite_message
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from dynamite_message
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xunru.model.DynamiteMessage" >
    insert into dynamite_message (id, dynamite_message_id, publisher_id, 
      publisher_name, title, dynamite_content, 
      dynamite_content_img_url, content_tag, dynamite_like_count, 
      create_time)
    values (#{id,jdbcType=VARCHAR}, #{dynamiteMessageId,jdbcType=VARCHAR}, #{publisherId,jdbcType=VARCHAR}, 
      #{publisherName,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{dynamiteContent,jdbcType=VARCHAR}, 
      #{dynamiteContentImgUrl,jdbcType=VARCHAR}, #{contentTag,jdbcType=VARCHAR}, #{dynamiteLikeCount,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xunru.model.DynamiteMessage" >
    insert into dynamite_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dynamiteMessageId != null" >
        dynamite_message_id,
      </if>
      <if test="publisherId != null" >
        publisher_id,
      </if>
      <if test="publisherName != null" >
        publisher_name,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="dynamiteContent != null" >
        dynamite_content,
      </if>
      <if test="dynamiteContentImgUrl != null" >
        dynamite_content_img_url,
      </if>
      <if test="contentTag != null" >
        content_tag,
      </if>
      <if test="dynamiteLikeCount != null" >
        dynamite_like_count,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteMessageId != null" >
        #{dynamiteMessageId,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        #{publisherId,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteContent != null" >
        #{dynamiteContent,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteContentImgUrl != null" >
        #{dynamiteContentImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="contentTag != null" >
        #{contentTag,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteLikeCount != null" >
        #{dynamiteLikeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xunru.model.DynamiteMessage" >
    update dynamite_message
    <set >
      <if test="dynamiteMessageId != null" >
        dynamite_message_id = #{dynamiteMessageId,jdbcType=VARCHAR},
      </if>
      <if test="publisherId != null" >
        publisher_id = #{publisherId,jdbcType=VARCHAR},
      </if>
      <if test="publisherName != null" >
        publisher_name = #{publisherName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteContent != null" >
        dynamite_content = #{dynamiteContent,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteContentImgUrl != null" >
        dynamite_content_img_url = #{dynamiteContentImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="contentTag != null" >
        content_tag = #{contentTag,jdbcType=VARCHAR},
      </if>
      <if test="dynamiteLikeCount != null" >
        dynamite_like_count = #{dynamiteLikeCount,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xunru.model.DynamiteMessage" >
    update dynamite_message
    set dynamite_message_id = #{dynamiteMessageId,jdbcType=VARCHAR},
      publisher_id = #{publisherId,jdbcType=VARCHAR},
      publisher_name = #{publisherName,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      dynamite_content = #{dynamiteContent,jdbcType=VARCHAR},
      dynamite_content_img_url = #{dynamiteContentImgUrl,jdbcType=VARCHAR},
      content_tag = #{contentTag,jdbcType=VARCHAR},
      dynamite_like_count = #{dynamiteLikeCount,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>