<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xunru.dao.FriendGroupMapper">
    <resultMap id="BaseResultMap" type="com.xunru.model.FriendGroup">
        <id column="group_id" property="groupId" jdbcType="VARCHAR"/>
        <result column="user_id" property="userId" jdbcType="VARCHAR"/>
        <result column="group_name" property="groupName" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <sql id="Base_Column_List">
    group_id, user_id, group_name, create_time, update_time
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from friend_group
        where group_id = #{groupId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from friend_group
    where group_id = #{groupId,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.xunru.model.FriendGroup">
    insert into friend_group (group_id, user_id, group_name, 
      create_time, update_time)
    values (#{groupId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.xunru.model.FriendGroup">
        insert into friend_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                group_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="groupName != null">
                group_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">
                #{groupId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xunru.model.FriendGroup">
        update friend_group
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="groupName != null">
                group_name = #{groupName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where group_id = #{groupId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xunru.model.FriendGroup">
        update friend_group
        set user_id = #{userId,jdbcType=VARCHAR},
          group_name = #{groupName,jdbcType=VARCHAR},
          create_time = #{createTime,jdbcType=TIMESTAMP},
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where group_id = #{groupId,jdbcType=VARCHAR}
    </update>


    <!--自定义方法-->
    <update id="modifyFriendGroupInfo" parameterType="com.xunru.model.FriendGroup">
        update friend_group
        set group_name = #{groupName,jdbcType=VARCHAR}
          update_time = #{updateTime,jdbcType=TIMESTAMP}
        where group_id = #{groupId,jdbcType=VARCHAR} and user_id = #{userId,jdbcType=VARCHAR}
    </update>

    <select id="queryFriendGroupByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from friend_group
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>

    <insert id="addFriendGroup" parameterType="com.xunru.model.FriendGroup">
      insert into friend_group (group_id, user_id, group_name,create_time)
      values (#{groupId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{groupName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
    </insert>

    <delete id="deleteFriendGroup" parameterType="java.lang.String">
      delete from friend_group
      where user_id=#{userId,jdbcType=VARCHAR} and group_id=#{groupId,jdbcType=VARCHAR}
    </delete>

    <select id="queryFriendGroupByUserIdAndGroupName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from friend_group
        where user_id=#{userId,jdbcType=VARCHAR} and group_name=#{groupName,jdbcType=VARCHAR}
    </select>
</mapper>